{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/admin_dashboard.css' %}">
</head>

<body>

<div class="sidebar">
    <h2>Admin Panel</h2>
    <a href="{% url 'admin_dashboard' %}" class="active">Dashboard</a>
    <a href="{% url 'manage_courses' %}" >Courses</a>
    <a href="{% url 'manage_enrollments' %}">Enrollments</a>
    <a href="{% url 'manage_invoices' %}">Invoices</a>

</div>

<div class="main">

    <h1>Dashboard</h1>

    <!-- STATS CARDS -->
    <div class="cards">

        <div class="card">
            <h3>Total Users</h3>
            <p>{{ total_users }}</p>
        </div>

        <div class="card">
            <h3>Total Courses</h3>
            <p>{{ total_courses }}</p>
        </div>

        <div class="card">
            <h3>Total Enrollments</h3>
            <p>{{ total_enrollments }}</p>
        </div>

        <div class="card">
            <h3>Total Revenue</h3>
            <p>₹ {{ total_revenue }}</p>
        </div>

    </div>

    <!-- TOP COURSES -->
    <h2>Top Courses</h2>
    <ul>
        {% for course in top_courses %}
            <li>{{ course.title }} - ₹{{ course.price }}</li>
        {% endfor %}
    </ul>

    <!-- RECENT ENROLLMENTS -->
    <h2>Recent Enrollments</h2>

<div class="enrollment-list">
    {% for enroll in recent_enrollments %}
        <div class="enrollment-card">
            <div class="enroll-left">
                <h4>{{ enroll.student.first_name }}</h4>
                <p>Enrolled in <strong>{{ enroll.course.title }}</strong></p>
            </div>

            <div class="enroll-right">
                <span class="badge">New</span>
            </div>
        </div>
    {% empty %}
        <p class="empty-msg">No enrollments yet.</p>
    {% endfor %}
</div>

</div>

</body>
</html>
