{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Analytics Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/analytics.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

<div class="sidebar">
    <h2>Admin Panel</h2>
    <a href="{% url 'admin_dashboard' %}">Dashboard</a>
    <a href="{% url 'manage_courses' %}">Courses</a>
    <a href="{% url 'manage_enrollments' %}">Enrollments</a>
    <a href="{% url 'manage_invoices' %}">Invoices</a>
    <a href="{% url 'analytics_dashboard' %}" class="active">Analytics</a>

    <div class="logout-section">
        <a href="{% url 'logout' %}">Logout</a>
    </div>
</div>

<div class="main">

    <div class="topbar">
        <h1>Analytics Dashboard</h1>
    </div>

    <!-- FILTER -->
    <div class="filter-box">
        <form method="GET">
            <input type="date" name="start_date" value="{{ start_date }}">
            <input type="date" name="end_date" value="{{ end_date }}">
            <button type="submit">Apply Filter</button>
        </form>
    </div>

    <!-- KPI -->
    <div class="kpi-grid">
        <div class="kpi revenue-card">
            <h3>Total Revenue</h3>
            
             <p>Rs. {{ total_revenue|floatformat:2 }}</p>

            <div class="badge-container">
                <span class="badge">Top Category: {{ top_category }}</span>

                {% if top_courses %}
                    <span class="badge success">Best Course: {{ top_courses.0.title }}</span>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- CHARTS -->
    <div class="charts-grid">

        <div class="chart-box">
            <h3>Monthly Revenue</h3>
            <canvas id="revenueChart"></canvas>
        </div>

        <div class="chart-box">
            <h3>Course Distribution</h3>
            <canvas id="courseChart"></canvas>
        </div>

        <div class="chart-box">
            <h3>Revenue by Category</h3>
            <canvas id="categoryChart"></canvas>
        </div>

        <div class="chart-box">
            <h3>Top Courses</h3>
            <canvas id="topCoursesChart"></canvas>
        </div>

    </div>

</div>
<script src="{% static 'js/analytics.js' %}"></script>
</body>
</html>
