{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Edit Course</title>
    <link rel="stylesheet" href="{% static 'css/admin_form.css' %}">
</head>

<body>

<div class="form-wrapper">

    <div class="form-card">
        <h2>Edit Course</h2>
        

        <form method="POST">
            {% csrf_token %}

            <div class="input-group">
                <label>Course Title</label>
                <input type="text" name="title" value="{{ course.title }}">
            </div>

            <div class="input-group">
                <label>Price (Rs.)</label>
                <input type="number" name="price" value="{{ course.price }}">
            </div>

            <div class="input-group">
                <label>Total Seats</label>
                <input type="number" name="total_seats" value="{{ course.total_seats }}">
            </div>

            <div class="input-group">
                <label>Category</label>
                <input type="text" name="category" value="{{ course.category }}">
            </div>

            <button type="submit">Update Course</button>
        </form>
    </div>

</div>

</body>
</html>
