body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f6f9;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #1e293b, #334155);
    padding: 15px 40px;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.navbar .logo {
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 1px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    padding: 6px 10px;
    border-radius: 6px;
    transition: 0.3s;
}

.nav-links li a:hover {
    background: #38bdf8;
    color: black;
}

.nav-links a.active {
    background: #38bdf8;
    color: black;
}

.dashboard-container {
    padding: 40px;
    max-width: 1200px;
    margin: auto;
}

h1, h2 {
    color: #1e293b;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}


table th, table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

table th {
    background: #1e293b;
    color: white;
    padding: 12px;
    font-size: 14px;
}
table td {
    padding: 12px;
    border-bottom: 1px solid #eee;
}

table tr:hover {
    background: #f1f5f9;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}


.welcome-card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 25px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.welcome-card h1 {
    margin: 0;
}

.btn {
    background: #3b82f6;
    color: white;
    padding: 6px 12px;
    border-radius: 6px;
    text-decoration: none;
    transition: 0.3s;
}

.btn:hover {
    background: #2563eb;
}

@media (max-width: 768px) {
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}


.status {
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
}

.status.paid {
    background: #dcfce7;
    color: #16a34a;
}

.status.pending {
    background: #fee2e2;
    color: #dc2626;
}

