{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LMS Platform</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<!-- NAVBAR -->
<nav class="navbar">
    <div class="logo">LMS Platform</div>

    <ul class="nav-links">
        <li><a href="{% url 'home' %}" class="active">Home</a></li>
        <li><a href="{% url 'course_list' %}">Courses</a></li>
        <li><a href="{% url 'student_dashboard' %}">Dashboard</a></li>
            
    </ul>
</nav>

<!-- HERO -->
<section class="hero">
    <div class="hero-container">
        <div class="hero-text">
            <h1>LMS Billing & Resource Management System</h1>
             <p> Manage courses, automate billing, generate invoices, and track learning — all in one powerful system. </p>

            <div class="hero-buttons">
                <a href="{% url 'signup' %}" class="btn-primary">Get Started</a>
                <a href="{% url 'login' %}" class="btn-secondary">Login</a>
            </div>
        </div>
    </div>
</section>

<!-- HIGHLIGHTS -->
<section class="highlights">
    <h2>Platform Highlights</h2>

    <div class="highlight-grid">

        <div class="highlight-card">
            <h3> Structured Courses</h3>
            <p>Access well-organized courses with clear learning paths.</p>
        </div>

        <div class="highlight-card">
            <h3> Easy Enrollment</h3>
            <p>Enroll in courses quickly with automatic seat tracking.</p>
        </div>

        <div class="highlight-card">
            <h3> Smart Dashboard</h3>
            <p>Track your courses and activity in one place.</p>
        </div>

        <div class="highlight-card">
            <h3> Secure System</h3>
            <p>Your data is safe and managed securely.</p>
        </div>

    </div>
</section>

<!-- FOOTER -->
<footer class="footer">
    <p>© 2026 LMS Platform</p>
</footer>

<script src="{% static 'js/main.js' %}"></script>
</body>
</html>
